@model mf_dev_beckend_2023.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Adcionar novo veículo</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeVeiculo" class="control-label"></label>
                <input asp-for="NomeVeiculo" class="form-control" />
                <span asp-validation-for="NomeVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoPlaca" class="control-label"></label>
                <input asp-for="VeiculoPlaca" class="form-control" />
                <span asp-validation-for="VeiculoPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoModelo" class="control-label"></label>
                <input asp-for="AnoModelo" class="form-control" />
                <span asp-validation-for="AnoModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                <input type="submit" value="Adcionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
