@model mf_dev_beckend_2023.Models.Veiculo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar dados do veiculo</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NomeVeiculo" class="control-label"></label>
                <input asp-for="NomeVeiculo" class="form-control" />
                <span asp-validation-for="NomeVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeiculoPlaca" class="control-label"></label>
                <input asp-for="VeiculoPlaca" class="form-control" />
                <span asp-validation-for="VeiculoPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoModelo" class="control-label"></label>
                <input asp-for="AnoModelo" class="form-control" />
                <span asp-validation-for="AnoModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
